
<%- include('includes/head.ejs')%>
</head>

<body>
   <%- include('includes/errorNav.ejs') %>
    <h1>Error 500 ! Some Technical</h1>
    <h4>We are currently working on this error, and will solve as soon as possible</h4>
    <h6 style = "text-align: center; margin-top: 400px;">regards, Abdullah Bin Arshad</h6>

    <%- include('includes/end.ejs')%>